.navcontainer{
  position: fixed;
  width: fit-content;
  height: 100%;
  background-color: #fff;
  box-shadow:3px 0px 6px 0px rgba(246,246,246,0.75);
  border-right: solid 1px;
  padding-top: 2%;
  display: flex;
  justify-content: flex-end;
}
.headericon>ul>li{
  opacity: .6;
}
.headericon>ul>li>a:hover{
  color: #F3BF00;
  opacity: 100%;
}
.headericon>ul>li>a:focus{
  border-left:solid #F3BF00;
  color: #F3BF00;
}

.containericons{
  margin-top: 80%;
}
.containericons>ul>li{
  opacity: .6;
  padding-top: 15%;
}
.containericons>ul>li>a:hover{
  color: #F3BF00;
  opacity: 100%;
}
.containericons>ul>li>a:focus{
  border-left:solid #F3BF00;
  color: #F3BF00;
}


.modeicons{
  margin-top: 160%;
}
.modeicons>ul>li{
  opacity: .6;
  padding-top: 15%;
}
.modeicons>ul>li>a:hover{
  color: #F3BF00;
  opacity: 100%;
}
.modeicons>ul>li>a:focus{
  border-left:solid #F3BF00;
  color: #F3BF00;
}

.popup{
  width: max-content;
  height: 100vh;
}
.popup>ul{
  list-style: none;
  border: solid black 1px;
  padding: 1%;
  font-weight: 700;
}
.popup>ul>li{
  margin-top: 109px;
  margin-bottom: 100px;
}
.popup>ul>li>a:hover{
  color: #F3BF00;
}

/*Header css*/
.headercontainer{
  display: flex;
  flex-wrap: wrap;
  height: 70px;
  background-color: rgba(255,255,255);
  margin-left: 100px;
  border-bottom: solid 1px;
}
.headercontainer>a{
  padding: 2%;
  font-weight:550;
}
.headercontainer>a:focus{
  color: #F3BF00;
}

/*Content css*/
.contentcontainer{
  display: flex;
  height:fit-content;
  margin-left: 100px;
  flex-direction: column;
  flex-wrap: wrap;
}
.row1{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.row1left{
  flex: 1;
  padding: 2%;
  font-weight: 1000;
  font-size: 20px;
}
.row1right{
  flex: 1;
  padding-top: 2%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
}
.row1right>a{
  font-weight:550;
  text-decoration: none;
  padding: 10px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}
.badge{
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 70%;
  background: green;
  color: white;
  font-size: x-small;
}
.row2{
  flex: 1;
  display: flex;
  flex-direction: row;
}
.row2left{
  flex: 1;
  display: flex;
  padding-left: 2%;
}

.button{
  margin-right: 3%;
  border-radius: 8px;
  padding: 2%;
  border: 0.1px solid; 
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
}
.leadbtn{
  cursor: pointer;
  background-color: #F3BF00;
  width:fit-content;
  margin-right: 3%;
  border-radius: 8px;
  padding: 2%;
  border: none; 
  font-size: 15px;
  font-weight: bolder;
}
.row2right{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 4%;

}
.row3{
  flex: 2;
  margin-top: 10px;
  padding-left: 2%;
  padding-right: 4%;
}
.table{
  border-collapse: collapse;
  margin: 25px 0;
  width: 100%;
}
.table>thead{
  font-weight: bolder;
  font-size: 20px;
}

.table>tbody{
  font-size: large;
  text-align: center;
}
.accepted{
  background-color:green;
  border-radius: 5px;
}
.denied{
  background-color:red;
  border-radius: 5px;
}
.pending{
  background-color:grey;
  border-radius: 5px;
}
.connected{
  background-color: #F3BF00;
}
